#app_main{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#left_side{
    display: inline-block;
    width: 27%;
}
#app_header{
    display: inline-block;
    position: relative;
    left: 250px;
    width: 63%;
    bottom: 600px ;
}
#title{
    position: relative;
    
}
