
/* Section two elements */
#section_two img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#php_label{
    display: inline-block;
    background-color: rgb(81, 90, 143);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    color: aliceblue;
    font-family: cursive;
    font-weight: bold;
}
#beginner_label{
    display: inline-block;
    position: relative;
    left: 45px;
    bottom: 40px;
    font-size: 10px;
    color: rgb(140, 201, 168);
}
#section_one h3{
    position: relative;
    left: 45px;
    bottom: 39px;
    width: 100px;
    font-family: cursive;
    font-size: 13px;
    opacity: 0.7;
}

/* Section two elements */

#section_two p{
    width: 200px;
}